<%= form_with(model: video) do |form| %>
  <% if video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
        <% video.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titile %>
    <%= form.text_field :titile %>
  </div>
 

  <div class="field">
    <%= form.label :categoryId %>
    <%= form.text_field :categoryId %>
  </div>
 

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size %>
  </div>

  

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  

  <div class="field">
    <%= form.label :path %>
    <%= form.text_field :path %>
  </div>

 

  <div class="field">
    <%= form.label :thumbnails %>
    <%= form.text_field :thumbnails %>
  </div>
 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
