<p id="notice"><%= notice %></p>

<p>
  <strong>Titile:</strong>
  <%= @video.titile %>
</p>

<p>
  <strong>String:</strong>
  <%= @video.string %>
</p>

<p>
  <strong>Categoryid:</strong>
  <%= @video.categoryId %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @video.integer %>
</p>

<p>
  <strong>Name:</strong>
  <%= @video.name %>
</p>

<p>
  <strong>String:</strong>
  <%= @video.string %>
</p>

<p>
  <strong>Size:</strong>
  <%= @video.size %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @video.integer %>
</p>

<p>
  <strong>Type:</strong>
  <%= @video.type %>
</p>

<p>
  <strong>String:</strong>
  <%= @video.string %>
</p>

<p>
  <strong>Path:</strong>
  <%= @video.path %>
</p>

<p>
  <strong>String:</strong>
  <%= @video.string %>
</p>

<p>
  <strong>Thumbnails:</strong>
  <%= @video.thumbnails %>
</p>

<p>
  <strong>String:</strong>
  <%= @video.string %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
